#AuthType Basic
#AuthName "Restricted Access"
#AuthUserFile "C:/xampp_authen/.htpasswd"
#Require valid-user

RewriteEngine On
RewriteRule ^apss/lands_auth/index\.php/amd2/* - [F]
 
# > https://help.dreamhost.com/hc/en-us/articles/216363167-Deny-access-to-a-site-with-an-htaccess-file 

 
